extends ../investing_overview
block subview
    h4.greeting-header Porteføljer
    .container.inner-overview-container
        .row
            table.table.portfolio-overview-table.borderless
                thead
                    tr
                        th
                        th Kapital
                            span.text-muted.ml10 NOK
                        th Nåværende verdi
                            span.text-muted.ml10 NOK
                        th Avkastning
                            span.text-muted.ml10 %
                        th Kapitalfordeling
                tbody
                for portfolio in portfolios
                    tr.portfolio-overview-row
                        td 
                            .fa.fa-chevron-right.portfolio-chevron
                        td= portfolio.capital_invested.formatMoney(0,"",".")
                        td= portfolio.return_mon.formatMoney(0, "", ".")
                        td= portfolio.return_perc
                        td.absolute
                            .doughnut
                                .division 
                                    span.stocks 10
                                    | |
                                    span.bonds 90
                    tbody.portfolio-details
                        tr
                            td
                            td.text-muted Inntjening
                            td= portfolio.dailyMonetaryReturns[portfolio.dailyMonetaryReturns.length - 1].formatMoney(0,"",".")
                            td.text-muted Auto deposit
                            td Off
                        tr
                            td
                            td.text-muted Forventet verdi om 10 år
                            td 1.345.211
                            td.text-muted Kapitalfordeling
                            td= (portfolio.stock_holding_ratio*100).toFixed(0)+"% aksjer" 
                        tr
                            td
                            td.text-muted Mål
                            td 1.500.000
                            td.text-muted Drift
                            td 4%
                        tr
                            td
                            td.text-muted År
                            td 10
                            td 
                                button.btn.btn-block.btn-outline-info Legge inn penger
                            td 
                                a(href='/app/portfolios/'+portfolio.portfolio_name).btn.btn-block.btn-outline-primary Detaljer
    //- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js')
    script(type='text/javascript', src='/javascripts/app/portfolios_overview_subview.js')
