extends ../investing_overview
block subview
    h4.greeting-header Porteføljer
    .container.inner-overview-container
        .row
            table.table.table.portfolio-overview-table
                thead
                    tr
                        th
                        th Kapital
                            span.text-muted.ml10 NOK
                        th Nåværende verdi
                            span.text-muted.ml10 NOK
                        th Avkastning
                            span.text-muted.ml10 %
                        th Risikograd
                tbody
                for portfolio in portfolios
                    tr.portfolio-overview-row
                        td 
                            .fa.fa-chevron-right.portfolio-chevron
                        td= portfolio.capital_invested.formatMoney(0,"",".")
                        td= portfolio.return_mon.formatMoney(0, "", ".")
                        td= portfolio.return_perc
                        td 1
                    tbody.portfolio-details
                        tr
                            td
                            td.text-muted Inntjening
                            td= portfolio.dailyMonetaryReturns[portfolio.dailyMonetaryReturns.length - 1].formatMoney(0,"",".")
                            td.text-muted Auto deposit
                            td Off
                        tr
                            td
                            td.text-muted Forventet verdi om 10 år
                            td 1.345.211
                            td.text-muted Kapitalfordeling
                            td= (portfolio.stock_holding_ratio*100).toFixed(1)+"%"
                        tr
                            td
                            td.text-muted Mål
                            td 1.500.000
                            td.text-muted Drift
                            td 4%
                        tr
                            td
                            td.text-muted År
                            td 10
                            td 
                                button.btn.btn-block.btn-outline-info Legge inn penger
                            td 
                                a(href='/app/portfolios/'+portfolio.portfolio_name).btn.btn-block.btn-outline-primary Detaljer

            //- .col-md-12.portfolio-overview-table
            //-     .row.portfolio-overview-headers
            //-         .col-md-1
            //-         .col-md-2
            //-             span Kapital
            //-             span.text-muted.ml10 NOK
            //-         .col-md-3
            //-             span Nåværende verdi
            //-             span.text-muted.ml10 NOK
            //-         .col-md-3
            //-             span Avkastning
            //-             span.text-muted.ml10 %
            //-         .col-md-1
            //-             span Risikograd
            //-         .col-md-2
            //-     for portfolio in portfolios
            //-         .row.portfolio-overview-row
            //-             .col-md-1
            //-                 span.fa.fa-chevron-right
            //-             .col-md-2
            //-                 p= portfolio.capital_invested.formatMoney(0,"",".")
            //-             .col-md-3
            //-                 p= portfolio.return_mon.formatMoney(0, "", ".")
            //-             .col-md-3
            //-                 p= portfolio.return_perc
            //-             .col-md-1
            //-                 p 1
            //-             .col-md-2
            //-                 a(href='/app/portfolios/'+portfolio.portfolio_name).btn.btn-block.btn-outline-primary Detaljer
            //-         .row.portfolio-details.hidden
            //-             .col-md-3  
            //-                 p.text-muted Forventet verdi etter 10 år
            //-                 p.text-muted Inntjening
            //-                 p.text-muted Mål
            //-                 p.text-muted År
            //-             .col-md-3  
            //-                 p 1.345.342
            //-                 p= portfolio.dailyMonetaryReturns[portfolio.dailyMonetaryReturns.length - 1].formatMoney(0,"",".")
            //-                 p 1.500.000
            //-                 p 10
            //-             .col-md-3
            //-                 p.text-muted Auto-deposit
            //-                 p.text-muted Kapitalfordeling
            //-                 p.text-muted Drift
            //-                 button.btn.btn-block.btn-outline-info Legge inn penger
            //-             .col-md-3
            //-                 p Off
            //-                 p 90% aksjer
            //-                 p 4%
            //-                 a(href='/app/portfolios/'+portfolio.portfolio_name).btn.btn-block.btn-outline-primary Detaljer
        //- table.table.table-hover.portfolio-overview-table
        //-     thead.thead-default
        //-         tr
        //-             th Kapital Investert
        //-                 span.text-muted.ml10 NOK
        //-             th Nåværende verdi
        //-                 span.text-muted.ml10 NOK
        //-             th Avkastning
        //-                 span.text-muted.ml10 %
        //-             th Risikograd
        //-                 .fa.fa-question.text-muted.ml10
        //-     tbody
        //-         for portfolio in portfolios
        //-             tr(data-portfolio=portfolio.portfolio_name)
        //-                 td= portfolio.capital_invested.formatMoney(0, "", ".")
        //-                 td= portfolio.return_mon.formatMoney(0, "", ".")
        //-                 td= portfolio.return_perc
        //-                 td 1
    //- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js')
    script(type='text/javascript', src='/javascripts/app/portfolios_overview_subview.js')
